.config/cache/
.config/fzf/
.config/local/
.config/nvm/
.config/tmux/plugins/
.config/yazi/flavors/
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.config/zsh/fzf/
.config/zsh/powerlevel10k/
.config/zsh/zsh-autosuggestions/
.config/zsh/zsh-syntax-highlighting/
.local/bin/jq
.local/bin/nvim
.local/bin/win32yank.exe
.local/bin/yazi
.local/bin/zoxide
.local/share/
.local/src/
.local/state/
.vim/autoload/
.vim/indent/
.vim/plugged/
.vim/syntax/
.vim/vim-q-syntax/
.vim/vim-qkdb-syntax/
